/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';  /* Project id 4088594 */
    src: url('//at.alicdn.com/t/c/font_4088594_44sq0v71ggm.woff2?t=1700029426133') format('woff2'),
    url('//at.alicdn.com/t/c/font_4088594_44sq0v71ggm.woff?t=1700029426133') format('woff'),
    url('//at.alicdn.com/t/c/font_4088594_44sq0v71ggm.ttf?t=1700029426133') format('truetype');
}
.iconfont {
    font-family: 'iconfont';
}

.iconfont-eye::before {
    content: '\xe8bf;';
}
